.about {
  background-color: var(--black-color);
  background-image: url('/img/faq/bg-faq.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  max-width: 375px;
  margin: 0 auto;
  scroll-margin-top: 60px;
}
.title-about {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.description-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.description-item {
  font-size: 14px;
  text-align: center;
}

@media only screen and (min-width: 1440px) {
  .about {
    padding: 98px 0;
    max-width: 1440px;
    scroll-margin-top: 90px;
  }
  .title-about {
    font-size: 32px;
    margin-bottom: 50px;
  }
  .description-list {
    gap: 24px;
  }
  .description-item {
    font-size: 16px;
  }
}
