.faq {
  padding: 70px 0;
  background-image: url('/img/faq/bg-faq-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 375px;
  margin: 0 auto;
}
.box-for-img-faq {
  margin-bottom: 24px;
}
.title-img-faq {
  margin-bottom: 24px;
}
.list-questions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.question-item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 3px;
    background-color: var(--active-color);
    border-radius: 2px;
    opacity: 1;
    transition:
      height 250ms ease-in-out,
      opacity 350ms ease-in-out;
  }
  &:has(details[open])::before {
    opacity: 0;
    height: 0;
  }
}
.question-details {
  padding: 16px 24px 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.03);

  &[open] .text-question {
    font-size: 16px;
  }

  &[open] .arrow-faq {
    transform: rotate(-180deg);
  }
}
.text-question {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style: none;

  transition: font-size 300ms ease-out;

  &::-webkit-details-marker {
    display: none;
  }
}
.arrow-faq {
  width: 26px;
  height: 26px;
  transition: transform 300ms ease-out;
}
.arrow-icon-faq {
  width: 26px;
  height: 14px;
} /*
.question-details[open] .arrow-faq {
  transform: rotate(-180deg);
}
.question-details[open] .text-question {
  font-size: 16px;
}*/
.text-answer {
  font-family: 'Michroma';
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  animation: slideDown 350ms ease-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1440px) {
  .faq {
    padding: 90px 0;
    background-image: url('/img/faq/bg-faq-desktop.png');
    max-width: 1440px;
  }
  .question-item {
    &::before {
      height: 55%;
      left: -1px;
    }
  }
}
