.footer {
  padding: 70px 0;
  .container {
    padding: 0 6px;
  }
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-item {
}
.footer-link {
  font-family: 'Michroma';
  font-size: 17px;
  font-weight: 400;
  color: var(--white-color);
  transition: color 300ms ease-in-out;
  &:hover {
    color: var(--active-color);
  }
  &:active {
    color: aqua;
  }
}
.footer-text {
  /* font-family: 'Michroma'; */
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 26px 0;
    .container {
      padding: 0 26px;
    }
  }
  .footer-list {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-text {
    font-size: 17px;
  }
}
