.gallery {
  padding: 70px 0;
  overflow-x: clip;
  width: 100%;
  position: relative;

  @media (min-width: 1440px) {
    padding: 90px 0;
  }
}

.gallery-title-image {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
}

.gallery-swiper-outer {
  position: relative;
  width: 100%;
  max-width: 1304px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-swiper {
  width: 100%;
  max-width: 350px;
  height: 500px;
  margin: 0 auto;
  overflow: visible;
  @media (min-width: 1440px) {
    width: 100%;
    max-width: 1304px;
    height: 720px;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}

.gallery-swiper-slide {
  width: 100% !important;
  height: 466px !important;

  transition:
    transform 0.4s ease,
    border-color 0.4s ease;
  border: 2px solid transparent;

  @media (min-width: 1440px) {
    width: 380px !important;
    height: 500px !important;
  }

  picture,
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.gallery-swiper-slide.swiper-slide-active {
  border: 2px solid var(--active-color);
  z-index: 10;

  @media (min-width: 1440px) {
    transform: scale(1.2) !important;
  }
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin: 24px auto 0;

  @media (min-width: 1440px) {
    margin-top: 0px;
  }
}

/* Пагинация */
.gallery-pagination {
  position: static !important;
  display: flex !important;
  gap: 24px !important;
  width: auto !important;
  transform: none !important;
}

.swiper-gallery-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: var(--white-color) !important;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: block;
  opacity: 1 !important;

  &.swiper-gallery-bullet-active {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border: 2px solid var(--yellow-color);
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

/* Кнопки */
.gallery-prev,
.gallery-next {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  color: var(--active-color);

  svg {
    stroke: currentColor;
    fill: none;
    transition: color 0.3s ease;
  }

  &:hover svg {
    color: var(--yellow-color);
  }
}
