.reviews {
  padding: 70px 0;
  background-image: url('/img/faq/bg-faq-mob.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 375px;
  margin: 0 auto;

  .container {
    padding: 0 16px;
  }
}
.reviews-title-box {
}
.reviews-title-img {
  margin-bottom: 24px;
}
.reviews-content-box {
}
.reviews-content-img {
  width: 100%;
  height: auto;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .reviews {
    padding: 90px 0;
    background-image: url('/img/faq/bg-faq-desktop.png');
    max-width: 1440px;

    .container {
      padding: 0 74px;
    }
  }
  .reviews-title-img {
    margin-bottom: 40px;
  }
  .reviews-content-img {
    margin-bottom: 40px;
  }
}
/* Стили для Swiper  */
.reviews-swiper-outer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.reviews-swiper{
  width: 100%;
  max-width: 350px;
  height: 158px;
  margin: 0 auto;
  overflow: visible;
  @media (min-width:1440px) {
    width: 100%;
    max-width:1260px;
    height: 171px;
  }

}

 .reviews-swiper-slide {
   width: 100% !important;
    height: 158px !important;
   @media (min-width:1440px) {
    width: 380px !important;
    height: 171px !important;
   }
 }

.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 17px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  transition: border-color 0.3s ease;

  &:hover {
    border-color: var(--active-color);
  }
}

.review-header {
  display: flex;
  flex-direction: column;

}

.review-author {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 6px;
}

.review-stars {
  display: flex;
  gap: 4px;
  margin-bottom: 17px;

  .star-icon {
    width: 16px;
    height: 16px;
    fill: var(--star-color);
  }
}

.review-text {
  font-weight: 400;
  font-size: 14px;

}

.reviews-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin: 32px auto 0;
}

/* Пагінація */
.reviews-pagination {
  position: static !important;
  display: flex !important;
  gap: 24px !important;
  width: auto !important;
  transform: none !important;
}

.swiper-reviews-bullet {
  width: 8px;
  height: 8px;
  background-color: var(--white-color);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  display: block;

  &.swiper-reviews-bullet-active {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border: 2px solid var(--yellow-color);
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}

/* Кнопки */
.reviews-prev,
.reviews-next {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  color: var(--active-color);

  svg {
    stroke: currentColor;
    fill: none;
    transition: color 0.3s ease;
  }

  &:hover svg {
    color: var(--yellow-color);
  }
}
