.secondary-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--background-color);
  box-shadow: 0 5px 30px 0 rgba(162, 98, 115, 0.4);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.back-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;

  width: 167px;
  height: 41px;
  padding: 10px 32px;
  border-radius: 50px;

  background-color: var(--accent-color);
  box-shadow: 0 8px 32px 0 rgba(200, 92, 120, 0.4);
  border: 1px solid transparent;

  text-decoration: none;
  color: var(--white-color);
  font-size: 16px;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: var(--white-color) !important;
    color: var(--accent-color) !important;
    border: 1px solid var(--accent-color);
    box-shadow: 0 8px 32px 0 rgba(200, 92, 120, 0.4);

    .header-arrow-icon {
      stroke: var(--accent-color);
    }
  }

  @media (min-width: 1440px) {
    width: 227px;
    height: 49px;
    padding: 10px 50px;
    font-size: 20px;
  }
}

.header-arrow-icon {
  width: 16px;
  height: 16px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  flex-shrink: 0;
  transition: stroke 300ms ease-in-out;
  @media (min-width: 1440px) {
    width: 20px;
    height: 20px;
  }
}
