<section id="about" class="about">
  <div class="container">
    <h2 class="title-about">Endless pressure, constant action</h2>
    <ul class="description-list">
      <li class="description-item">
        KingBlast: Survival War puts players in situations where survival
        depends on awareness and fast reactions.
      </li>
      <li class="description-item">
        Enemies approach from all sides, forcing&nbsp;players to keep moving and
        adapting.
      </li>
      <li class="description-item">
        Each session offers a new combination&nbsp;of challenges and upgrades.
      </li>
    </ul>
  </div>
</section>
