<section id="about" class="about">
  <div class="container">
    <div class="descr-wrapper">
      <h2 class="section-title">About the Game</h2>
      <h3 class="section-subtitle">
        A chill beauty game that's
        <span class="section-subtitle-span">actually satisfying to play</span>
      </h3>
      <p class="about-descr">
        With Relaxing Skin ASMR Makeover, you get this super peaceful makeover
        experience where the skincare and makeup stuff actually feels
        interactive and rewarding. Players perform beauty treatments, apply
        cosmetics, and complete satisfying makeover routines through smooth
        ASMR-inspired gameplay. It should feel cozy and polished, with smooth
        animations and a clean interface that doesn't stress you out.
      </p>
    </div>
    <ul class="picture-wrapper" data-observer="false">
      <li class="picture-wrapper-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/about/card-1-desktop.png    1x,
              img/about/card-1-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1439.98px)"
            srcset="
              img/about/card-1-mobile.png    1x,
              img/about/card-1-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="img/about/card-1-mobile.png"
            srcset="img/about/card-1-mobile@2x.png"
            alt="photo character 1"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="picture-wrapper-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/about/card-2-desktop.png    1x,
              img/about/card-2-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1439.98px)"
            srcset="
              img/about/card-2-mobile.png    1x,
              img/about/card-2-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="img/about/card-2-mobile.png"
            srcset="img/about/card-2-mobile@2x.png"
            alt="photo character 2"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="picture-wrapper-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              img/about/card-3-desktop.png    1x,
              img/about/card-3-desktop@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1439.98px)"
            srcset="
              img/about/card-3-mobile.png    1x,
              img/about/card-3-mobile@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="img/about/card-3-mobile.png"
            srcset="img/about/card-3-mobile@2x.png"
            alt="photo character 3"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
