<section id="contact" class="contact">
  <div class="container">
    <h2 class="visually-hidden">Contact</h2>
    <div class="box-image-background-ct">
      <div class="box-title-ct">
        <picture class="box-for-img-ct">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/contact/title-contact-mob.png    1x,
              /img/contact/title-contact-mob@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/contact/title-contact-desktop.png    1x,
              /img/contact/title-contact-desktop@2x.png 2x
            "
          />
          <img
            src="/img/contact/title-contact-mob.png"
            srcset="/img/contact/title-contact-mob@2x.png"
            alt="The concrete letters are caked with zombie blood."
            width="207"
            height="31"
            class="title-section-img-ct"
            loading="lazy"
          />
        </picture>
        <p class="title-contact">Stay connected</p>
        <address class="box-email">
          <span class="title-email">Email:</span>
          <a class="link-email" href="mailto:info@wideprotocol.space"
            >info@wideprotocol.space</a
          >
        </address>
      </div>
      <a
        class="btn-google-play"
        href="https://play.google.com/store/apps/details?id=com.zombieage.viralwar&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="google-img"
          src="/img/GooglePlay.png"
          alt="Logo Google Play"
          width="23"
          height="26"
        />
        <div class="google-box">
          <span class="google-text-up">GET IT ON</span>
          <span class="google-text-down">Google Play</span>
        </div>
      </a>
    </div>
  </div>
</section>
