<section id="why-download" class="download">
  <div class="container">
    <h2 class="visually-hidden">Download</h2>
    <picture class="box-for-img">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="
          /img/download/title-download-mob.png    1x,
          /img/download/title-download-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/download/title-download-desktop.png    1x,
          /img/download/title-download-desktop@2x.png 2x
        "
      />
      <img
        src="/img/download/title-download-mob.png"
        srcset="/img/download/title-download-mob@2x.png"
        alt="The concrete letters are caked with zombie blood."
        class="title-img"
        loading="lazy"
      />
    </picture>
    <ul class="characteristic">
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/001.png    1x,
              /img/download/mobile/001@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/001.png    1x,
              /img/download/desktop/001@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/001.png"
            srcset="/img/download/mobile/001@2x.png"
            alt="Yellow lightning bolt, symbolizing energy and speed"
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">You'll be hooked from the first run</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/002.png    1x,
              /img/download/mobile/002@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/002.png    1x,
              /img/download/desktop/002@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/002.png"
            srcset="/img/download/mobile/002@2x.png"
            alt="Green chevrons, indicating a level up and empowerment"
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">Clear progression</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/003.png    1x,
              /img/download/mobile/003@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/003.png    1x,
              /img/download/desktop/003@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/003.png"
            srcset="/img/download/mobile/003@2x.png"
            alt="Two purple arrows forming a circle, representing reload or refresh"
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">Dynamic builds</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/004.png    1x,
              /img/download/mobile/004@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/004.png    1x,
              /img/download/desktop/004@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/004.png"
            srcset="/img/download/mobile/004@2x.png"
            alt="Orange skull in a crosshair, a symbol of lethal damage and critical hits."
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">Improve your skills with each run</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/005.png    1x,
              /img/download/mobile/005@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/005.png    1x,
              /img/download/desktop/005@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/005.png"
            srcset="/img/download/mobile/005@2x.png"
            alt="Light blue target and crosshair, signifying accuracy."
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">Instant gameplay</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/006.png    1x,
              /img/download/mobile/006@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/006.png    1x,
              /img/download/desktop/006@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/006.png"
            srcset="/img/download/mobile/006@2x.png"
            alt="Purple silhouette of a running person, symbolizing agility and sprinting."
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">No waiting — jump straight into action</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/007.png    1x,
              /img/download/mobile/007@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/007.png    1x,
              /img/download/desktop/007@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/007.png"
            srcset="/img/download/mobile/007@2x.png"
            alt="Green heart with a pulse line, a symbol of health and regeneration"
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">Experiment with different upgrades</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/008.png    1x,
              /img/download/mobile/008@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/008.png    1x,
              /img/download/desktop/008@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/008.png"
            srcset="/img/download/mobile/008@2x.png"
            alt="Red bullet with an arrow and a plus sign (power-up symbols), indicating increased damage and special ammo types."
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">High replay value</p>
      </li>
      <li class="characteristic-item">
        <picture class="box-for-img">
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/download/mobile/009.png    1x,
              /img/download/mobile/009@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/download/desktop/009.png    1x,
              /img/download/desktop/009@2x.png 2x
            "
          />
          <img
            src="/img/download/mobile/009.png"
            srcset="/img/download/mobile/009@2x.png"
            alt="Orange shield with a bullet inside, symbolizing ballistic protection and armor."
            class="item-img"
            width="60"
            height="60"
            loading="lazy"
          />
        </picture>
        <p class="item-description">
          You can knock out a quick session in just a few minutes, but somehow
          you'll find yourself coming back for hours
        </p>
      </li>
    </ul>
  </div>
</section>
