<section id="faq" class="faq">
  <div class="container">
    <h2 class="visually-hidden">FAQ</h2>
    <picture class="box-for-img-faq">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="/img/faq/title-faq-mob.png 1x, /img/faq/title-faq-mob@2x.png 2x"
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/faq/title-faq-desktop.png    1x,
          /img/faq/title-faq-desktop@2x.png 2x
        "
      />
      <img
        src="/img/faq/title-faq-mob.png"
        srcset="/img/faq/title-faq-mob@2x.png"
        alt="The concrete letters are caked with zombie blood."
        class="title-img-faq"
        loading="lazy"
      />
    </picture>
    <ul class="list-questions">
      <li class="question-item">
        <details class="question-details">
          <summary class="text-question">
            Is the game difficult?
            <span class="arrow-faq">
              <svg class="arrow-icon-faq">
                <use href="/sprite.svg#arrow-down" />
              </svg>
            </span>
          </summary>
          <p class="text-answer">
            Yeah, it definitely ramps up the difficulty as you get further -
            starts manageable but gets pretty brutal.
          </p>
        </details>
      </li>
      <li class="question-item">
        <details class="question-details">
          <summary class="text-question">
            Do upgrades matter?
            <span class="arrow-faq">
              <svg class="arrow-icon-faq">
                <use href="/sprite.svg#arrow-down" />
              </svg>
            </span>
          </summary>
          <p class="text-answer">Yes. They define your strategy each run.</p>
        </details>
      </li>
      <li class="question-item">
        <details class="question-details">
          <summary class="text-question">
            Is it suitable for short sessions?
            <span class="arrow-faq">
              <svg class="arrow-icon-faq">
                <use href="/sprite.svg#arrow-down" />
              </svg>
            </span>
          </summary>
          <p class="text-answer">Yes. Runs are quick and intense.</p>
        </details>
      </li>
      <li class="question-item">
        <details class="question-details">
          <summary class="text-question">
            Is gameplay skill-based?
            <span class="arrow-faq">
              <svg class="arrow-icon-faq">
                <use href="/sprite.svg#arrow-down" />
              </svg>
            </span>
          </summary>
          <p class="text-answer">Yes. Movement and positioning are key.</p>
        </details>
      </li>
      <li class="question-item">
        <details class="question-details">
          <summary class="text-question">
            Can I replay levels?
            <span class="arrow-faq">
              <svg class="arrow-icon-faq">
                <use href="/sprite.svg#arrow-down" />
              </svg>
            </span>
          </summary>
          <p class="text-answer">Yes. Each run offers a new experience.</p>
        </details>
      </li>
    </ul>
  </div>
</section>
