<section id="faq" class="faq">
  <div class="container faq-container">
    <h2 class="section-title">faq</h2>
    <h3 class="section-subtitle">
      Quick
      <span class="section-subtitle-span"> answer</span>
    </h3>
  </div>
  <div class="faq-accordion">
      <details class="faq-item" open>
        <summary class="faq-question">
          <span>Is Relaxing Skin ASMR Makeover beginner-friendly?</span>
          <svg class="faq-arrow faq-arrow-down"><use href="./sprite.svg#arrow-down"></use></svg>
          <svg class="faq-arrow faq-arrow-up"><use href="./sprite.svg#arrow-up"></use></svg>
        </summary>
        <div class="faq-answer">
          <p>Yes, the gameplay is simple and easy to understand.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          <span>Does the game include makeup customization?</span>
          <svg class="faq-arrow faq-arrow-down"><use href="./sprite.svg#arrow-down"></use></svg>
          <svg class="faq-arrow faq-arrow-up"><use href="./sprite.svg#arrow-up"></use></svg>
        </summary>
        <div class="faq-answer">
          <p>Yes, players can create multiple beauty styles and looks.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          <span>Is the gameplay focused on relaxation?</span>
          <svg class="faq-arrow faq-arrow-down"><use href="./sprite.svg#arrow-down"></use></svg>
          <svg class="faq-arrow faq-arrow-up"><use href="./sprite.svg#arrow-up"></use></svg>
        </summary>
        <div class="faq-answer">
          <p>Yes, the experience is designed around calm ASMR-inspired interactions.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          <span>What style should the landing page follow?</span>
          <svg class="faq-arrow faq-arrow-down"><use href="./sprite.svg#arrow-down"></use></svg>
          <svg class="faq-arrow faq-arrow-up"><use href="./sprite.svg#arrow-up"></use></svg>
        </summary>
        <div class="faq-answer">
          <p>Elegant, soft, glossy, pastel, and beauty-focused.</p>
        </div>
      </details>
      <details class="faq-item">
        <summary class="faq-question">
          <span>Are there different makeover tools available?</span>
          <svg class="faq-arrow faq-arrow-down"><use href="./sprite.svg#arrow-down"></use></svg>
          <svg class="faq-arrow faq-arrow-up"><use href="./sprite.svg#arrow-up"></use></svg>
        </summary>
        <div class="faq-answer">
          <p>Yes, players unlock various skincare and makeup items during progression.</p>
        </div>
      </details>
    </div>
  </div>
</section>
