<section id="features" class="features">
  <div class="container">
    <div class="box-text-content">
      <h2 class="title-section-feature">Features</h2>
      <p class="description-section-feature">
        Designed for
        <span class="description-section-feature-pink-italic">soothing</span>
        mobile gameplay
      </p>
      <ul class="feature-list">
        <li class="feature-item">
          <div class="place-for-icon">
            <svg class="feature-icon">
              <use href="/sprite.svg#features-spa-stone"></use>
            </svg>
          </div>
          <div class="feature-title-box">
            <h3 class="feature-title-name">ASMR-Inspired Interactions</h3>
            <p class="feature-title-description">
              The animations are really soft and the effects give you this
              relaxing feedback that's honestly pretty nice.
            </p>
          </div>
        </li>
        <li class="feature-item">
          <div class="place-for-icon">
            <svg class="feature-icon">
              <use href="/sprite.svg#features-lotus"></use>
            </svg>
          </div>
          <div class="feature-title-box">
            <h3 class="feature-title-name">Elegant Beauty Visuals</h3>
            <p class="feature-title-description">
              All the glossy textures and pastel colors really pull you into the
              experience.
            </p>
          </div>
        </li>
        <li class="feature-item">
          <div class="place-for-icon">
            <svg class="feature-icon">
              <use href="/sprite.svg#features-mirror"></use>
            </svg>
          </div>
          <div class="feature-title-box">
            <h3 class="feature-title-name">Creative Makeup Customization</h3>
            <p class="feature-title-description">
              Players can experiment with different makeover styles.
            </p>
          </div>
        </li>
        <li class="feature-item">
          <div class="place-for-icon">
            <svg class="feature-icon">
              <use href="/sprite.svg#features-scented-candle"></use>
            </svg>
          </div>
          <div class="feature-title-box">
            <h3 class="feature-title-name">Stress-Free Gameplay</h3>
            <p class="feature-title-description">
              It's all about taking your time and feeling good about what you're
              doing.
            </p>
          </div>
        </li>
        <li class="feature-item">
          <div class="place-for-icon">
            <svg class="feature-icon">
              <use href="/sprite.svg#features-monetization-tablet"></use>
            </svg>
          </div>
          <div class="feature-title-box">
            <h3 class="feature-title-name">Smooth Mobile Controls</h3>
            <p class="feature-title-description">
              Beauty interactions feel responsive and intuitive.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="box-for-sticks">
      <div class="box-sticks-left">
        <div class="box-img card-lipstick">
          <picture class="box-for-img">
            <source
              media="(max-width: 1439.98px)"
              type="image/png"
              srcset="
                /img/features/lipstick-mobile.png    1x,
                /img/features/lipstick-mobile@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              type="image/png"
              srcset="
                /img/features/lipstick-desktop.png    1x,
                /img/features/lipstick-desktop@2x.png 2x
              "
            />
            <img
              src="/img/features/lipstick-mobile.png"
              srcset="/img/features/lipstick-mobile@2x.png"
              alt="Red a lipstick."
              width="62"
              height="62"
              class="feature-img"
              loading="lazy"
            />
          </picture>
          <p class="feature-icon-title">Lipstick</p>
        </div>
        <div class="box-img card-skincare">
          <picture class="box-for-img">
            <source
              media="(max-width: 1439.98px)"
              type="image/png"
              srcset="
                /img/features/skincare-mobile.png    1x,
                /img/features/skincare-mobile@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              type="image/png"
              srcset="
                /img/features/skincare-desktop.png    1x,
                /img/features/skincare-desktop@2x.png 2x
              "
            />
            <img
              src="/img/features/skincare-mobile.png"
              srcset="/img/features/skincare-mobile@2x.png"
              alt="Pink cream in a clear glass jar."
              width="62"
              height="62"
              class="feature-img"
              loading="lazy"
            />
          </picture>
          <p class="feature-icon-title">Skincare</p>
        </div>
        <div class="box-img card-asmr">
          <picture class="box-for-img">
            <source
              media="(max-width: 1439.98px)"
              type="image/png"
              srcset="
                /img/features/asmr-mobile.png    1x,
                /img/features/asmr-mobile@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              type="image/png"
              srcset="
                /img/features/asmr-desktop.png    1x,
                /img/features/asmr-desktop@2x.png 2x
              "
            />
            <img
              src="/img/features/asmr-mobile.png"
              srcset="/img/features/asmr-mobile@2x.png"
              alt="Pink powder."
              width="62"
              height="62"
              class="feature-img"
              loading="lazy"
            />
          </picture>
          <p class="feature-icon-title">Asmr</p>
        </div>
      </div>
      <div class="box-sticks-right card-studio">
        <div class="box-img-top-right">
          <picture class="box-for-img-right">
            <source
              media="(max-width: 1439.98px)"
              type="image/png"
              srcset="
                /img/features/make-up-mobile.png    1x,
                /img/features/make-up-mobile@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              type="image/png"
              srcset="
                /img/features/make-up-desktop.png    1x,
                /img/features/make-up-desktop@2x.png 2x
              "
            />
            <img
              src="/img/features/make-up-mobile.png"
              srcset="/img/features/make-up-mobile@2x.png"
              alt="Cosmetic brush with powder."
              width="62"
              height="62"
              class="feature-img"
              loading="lazy"
            />
          </picture>
          <p class="feature-icon-title">Full Makeover Studio</p>
        </div>
        <div class="box-game-preview">
          <picture class="box-for-screen">
            <source
              media="(max-width: 1439.98px)"
              type="image/png"
              srcset="
                /img/features/screen-face-mobile.png    1x,
                /img/features/screen-face-mobile@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              type="image/png"
              srcset="
                /img/features/screen-face-desktop.png    1x,
                /img/features/screen-face-desktop@2x.png 2x
              "
            />
            <img
              src="/img/features/screen-face-mobile.png"
              srcset="/img/features/screen-face-mobile@2x.png"
              alt="A face on mobile screen."
              width="118"
              height="231"
              class="game-preview"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
