<section id="features" class="features">
  <div class="container">
    <h2 class="visually-hidden">Game Features</h2>
    <div class="features-title-image">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            /img/features/title-features-desktop.png    1x,
            /img/features/title-features-desktop@2x.png 2x
          "
        />
        <source
          srcset="
            /img/features/title-features-mob.png    1x,
            /img/features/title-features-mob@2x.png 2x
          "
        />
        <img src="/img/features/title-features-mob.png" alt="Features" />
      </picture>
    </div>
  </div>
  <div class="features-swiper-outer">
    <div id="features-swiper" class="swiper features-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-01.png    1x,
                /img/features/desktop/sw-feature-desktop-01@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-01.png    1x,
                /img/features/mobile/sw-feature-mob-01@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-01.png"
              alt="Feature 1"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">This game doesn't mess around</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-02.png    1x,
                /img/features/desktop/sw-feature-desktop-02@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-02.png    1x,
                /img/features/mobile/sw-feature-mob-02@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-02.png"
              alt="Feature 2"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Endless Enemy Waves</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-03.png    1x,
                /img/features/desktop/sw-feature-desktop-03@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-03.png    1x,
                /img/features/mobile/sw-feature-mob-03@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-03.png"
              alt="Feature 3"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">
              There's never a dull moment - enemies just keep coming at you.
            </p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-04.png    1x,
                /img/features/desktop/sw-feature-desktop-04@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-04.png    1x,
                /img/features/mobile/sw-feature-mob-04@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-04.png"
              alt="Feature 4"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Upgrade System</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-05.png    1x,
                /img/features/desktop/sw-feature-desktop-05@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-05.png    1x,
                /img/features/mobile/sw-feature-mob-05@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-05.png"
              alt="Feature 5"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Different builds create varied playstyles.</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-06.png    1x,
                /img/features/desktop/sw-feature-desktop-06@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-06.png    1x,
                /img/features/mobile/sw-feature-mob-06@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-06.png"
              alt="Feature 6"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Fast Sessions</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-07.png    1x,
                /img/features/desktop/sw-feature-desktop-07@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-07.png    1x,
                /img/features/mobile/sw-feature-mob-07@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-07.png"
              alt="Feature 7"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Quick runs with immediate action.</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-08.png    1x,
                /img/features/desktop/sw-feature-desktop-08@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-08.png    1x,
                /img/features/mobile/sw-feature-mob-08@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-08.png"
              alt="Feature 8"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Skill-Based Gameplay</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-09.png    1x,
                /img/features/desktop/sw-feature-desktop-09@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-09.png    1x,
                /img/features/mobile/sw-feature-mob-09@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-09.png"
              alt="Feature 9"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">
              It's all about knowing when to move and where to go.
            </p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-10.png    1x,
                /img/features/desktop/sw-feature-desktop-10@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-10.png    1x,
                /img/features/mobile/sw-feature-mob-10@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-10.png"
              alt="Feature 10"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">Replayability</p>
          </div>
        </div>
        <div class="swiper-slide features-swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/features/desktop/sw-feature-desktop-11.png    1x,
                /img/features/desktop/sw-feature-desktop-11@2x.png 2x
              "
            />
            <source
              srcset="
                /img/features/mobile/sw-feature-mob-11.png    1x,
                /img/features/mobile/sw-feature-mob-11@2x.png 2x
              "
            />
            <img
              src="/img/features/mobile/sw-feature-mob-11.png"
              alt="Feature 11"
            />
          </picture>
          <div class="slide-overlay">
            <p class="slide-text">No two runs are ever the same.</p>
          </div>
        </div>
      </div>

      <!-- Пагинация -->
      <div
        data-features-pagination
        class="swiper-pagination features-pagination"
      ></div>
    </div>
  </div>
</section>
