<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item">
        <a class="footer-link" href="./privacy-policy.html">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a class="footer-link" href="./terms-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="footer-item">
        <p class="footer-text">
          © 2026 wideprotocol.space — All rights reserved
        </p>
      </li>
    </ul>
  </div>
</footer>
