<header class="header">
  <div class="container">
    <a href="./" class="logo-link">
      <img
        class="logo-img"
        src="/img/logo.png"
        srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
        alt="Relaxing Skin ASMR Makeover Logo"
        width="70"
        height="70"
      />
    </a>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="btn-burger-icon">
        <use href="/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="list-navigation">
        <li class="item-navigation">
          <a href="#about" class="item-nav-link">About the Game</a>
        </li>
        <li class="item-navigation">
          <a href="#how-to-play" class="item-nav-link">How to Play</a>
        </li>
        <li class="item-navigation">
          <a href="#features" class="item-nav-link">Features</a>
        </li>
        <li class="item-navigation">
          <a href="#faq" class="item-nav-link">FAQ</a>
        </li>
        <li class="item-navigation">
          <a href="#contact" class="item-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
