<header class="header">
  <div class="container">
    <a href="./" class="logo-link">
      <picture>
        <source
          media="(max-width: 1439.98px)"
          type="image/png"
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="/img/logo-desctop.png 1x, /img/logo-desctop@2x.png 2x"
        />
        <img
          class="logo-img"
          src="/img/logo-mobile.png"
          alt="Logo King Blast survival war"
          width="50"
          height="39"
        />
      </picture>
    </a>
    <button class="btn-burger" type="button" data-menu-open>
      <svg class="btn-burger-icon">
        <use href="/sprite.svg#burger-menu"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="list-navigation">
        <li class="item-navigation">
          <a href="#about" class="item-nav-link">About</a>
        </li>
        <li class="item-navigation">
          <a href="#how-to-play" class="item-nav-link">How to Play</a>
        </li>
        <li class="item-navigation">
          <a href="#features" class="item-nav-link">Features</a>
        </li>
        <li class="item-navigation">
          <a href="#why-download" class="item-nav-link">Why Download</a>
        </li>
        <li class="item-navigation">
          <a href="#gallery" class="item-nav-link">Gallery</a>
        </li>
        <li class="item-navigation">
          <a href="#reviews" class="item-nav-link">Reviews</a>
        </li>
        <li class="item-navigation">
          <a href="#faq" class="item-nav-link">FAQ</a>
        </li>
        <li class="item-navigation">
          <a href="#contact" class="item-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
