<section class="hero">
  <div class="container">
    <div class="box-title-description">
      <h1 class="hero-title">
        Transform Your Look, <span class="title-pink-italic">Your Way.</span>
      </h1>
      <p class="hero-description">
        Soothing skincare gameplay with satisfying ASMR effects
      </p>
      <a
        class="link-google-play"
        href="https://play.google.com/store/apps/details?id=com.aestheticgames.skingames.makeupgame.creativemakeup&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="google-img"
          src="/img/GooglePlayLogo.png"
          alt="Logo Google Play"
          width="26"
          height="29"
        />
        <div class="google-box">
          <span class="google-text-up">PLAY ON</span>
          <span class="google-text-down">Google Play</span>
        </div>
      </a>
      <div class="second-title visually-hidden">
        <h2 class="title-phone-background">Relaxing Skin ASMR Makeover</h2>
        <p class="description-phone-background">Relax. Refresh. Transform.</p>
      </div>
    </div>
    <ul class="phone-container">
      <li class="icon icon-left">
        <picture>
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/hero/maykup-mobile.png    1x,
              /img/hero/maykup-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/hero/maykup-desktop.png    1x,
              /img/hero/maykup-desktop@2x.png 2x
            "
          />
          <img
            src="/img/hero/maykup-mobile.png"
            srcset="/img/hero/maykup-mobile@2x.png"
            alt="Lipstick."
            class="item-img"
            width="30"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="icon icon-right-top">
        <picture>
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/hero/lipstick-mobile.png    1x,
              /img/hero/lipstick-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/hero/lipstick-desktop.png    1x,
              /img/hero/lipstick-desktop@2x.png 2x
            "
          />
          <img
            src="/img/hero/lipstick-mobile.png"
            srcset="/img/hero/lipstick-mobile@2x.png"
            alt="Doing makeup."
            class="item-img"
            width="30"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="icon icon-right-bottom">
        <picture>
          <source
            media="(max-width: 1439.98px)"
            type="image/png"
            srcset="
              /img/hero/cosmetick-set-mobile.png    1x,
              /img/hero/cosmetick-set-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 1440px)"
            type="image/png"
            srcset="
              /img/hero/cosmetick-set-desktop.png    1x,
              /img/hero/cosmetick-set-desktop@2x.png 2x
            "
          />
          <img
            src="/img/hero/cosmetick-set-mobile.png"
            srcset="/img/hero/cosmetick-set-mobile@2x.png"
            alt="Cosmetic set."
            class="item-img"
            width="24"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
