<section class="hero">
  <div class="container">
    <div class="box-title-description">
      <h1 class="hero-title">
        Transform Your Look, <span class="title-pink-italic">Your Way.</span>
      </h1>
      <p class="hero-description">
        Soothing skincare gameplay with satisfying ASMR effects
      </p>
      <a
        class="link-google-play"
        href="https://play.google.com/store/apps/details?id=com.aestheticgames.skingames.makeupgame.creativemakeup&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="google-img"
          src="/img/GooglePlayLogo.png"
          alt="Logo Google Play"
          width="26"
          height="29"
        />
        <div class="google-box">
          <span class="google-text-up">PLAY ON</span>
          <span class="google-text-down">Google Play</span>
        </div>
      </a>
      <div class="second-title visually-hidden">
        <h2 class="title-phone-background">Relaxing Skin ASMR Makeover</h2>
        <p class="description-phone-background">Relax. Refresh. Transform.</p>
      </div>
    </div>
    <ul class="phone-container">
      <li class="icon icon-left">
        <img
          src="/img/hero/left-doing-makeup-mobile.png"
          alt="Lipstick."
          class="item-img"
        />
      </li>
      <li class="icon icon-right-top">
        <img
          src="/img/hero/top-right-lipstick-mobile.png"
          alt="Doing makeup."
          class="item-img"
        />
      </li>
      <li class="icon icon-right-bottom">
        <img
          src="/img/hero/right-bottom-cosmetic-set-mobile.png"
          alt="Cosmetic set."
          class="item-img"
        />
      </li>
    </ul>
  </div>
</section>
