<section class="hero">
  <div class="container">
    <h1 class="hero-title visually-hidden">
      Stand your ground. Outlast the swarm.
    </h1>
    <p class="hero-description">
      Every second counts in the fight for survival.
    </p>
    <a
      class="btn-google-play"
      href="https://play.google.com/store/apps/details?id=com.zombieage.viralwar&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="google-img"
        src="/img/GooglePlay.png"
        alt="Logo Google Play"
        width="23"
        height="26"
      />
      <div class="google-box">
        <span class="google-text-up">GET IT ON</span>
        <span class="google-text-down">Google Play</span>
      </div>
    </a>
  </div>
</section>
