<section id="how-to-play" class="how-to-play">
  <div class="container how-to-play-container">
    <h2 class="section-title">how to play</h2>
    <h3 class="section-subtitle">
      Complete relaxing beauty routines
      <span class="section-subtitle-span">step by step</span>
    </h3>
    <div class="swiper how-to-play-slider" data-slider>
      <ul class="swiper-wrapper how-to-play-list">
        <li class="swiper-slide how-to-play-item">
          <span class="card-number">01</span>
          <svg class="card-icon">
            <use href="/sprite.svg#how-to-play-1"></use>
          </svg>
          <h4 class="card-title">Clean & Restore Skin</h4>
          <p class="card-descr">
            Use skincare tools to refresh different characters.
          </p>
        </li>

        <li class="swiper-slide how-to-play-item">
          <span class="card-number">02</span>
          <svg class="card-icon">
            <use href="/sprite.svg#how-to-play-2"></use>
          </svg>
          <h4 class="card-title">Apply Beauty Treatments</h4>
          <p class="card-descr">
            Do full facial routines with those super calming ASMR interactions.
          </p>
        </li>
        <li class="swiper-slide how-to-play-item">
          <span class="card-number">03</span>
          <svg class="card-icon">
            <use href="/sprite.svg#how-to-play-3"></use>
          </svg>
          <h4 class="card-title">Create Makeup Looks</h4>
          <p class="card-descr">
            Experiment with cosmetics, colors, and styling options.
          </p>
        </li>
        <li class="swiper-slide how-to-play-item">
          <span class="card-number">04</span>
          <svg class="card-icon">
            <use href="/sprite.svg#how-to-play-4"></use>
          </svg>
          <h4 class="card-title">Unlock Beauty Tools</h4>
          <p class="card-descr">
            Progress to access more advanced makeover items.
          </p>
        </li>
        <li class="swiper-slide how-to-play-item">
          <span class="card-number">05</span>
          <svg class="card-icon">
            <use href="/sprite.svg#how-to-play-5"></use>
          </svg>
          <h4 class="card-title">Complete Transformations</h4>
          <p class="card-descr">
            Finish full beauty routines and reveal stunning final results.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
