<section id="how-to-play" class="how-to-play">
  <h2 class="visually-hidden">How to Play</h2>

  <div class="how-to-play-content">
    <div id="how-to-play-swiper" class="swiper how-to-play-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-desktop-01.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-desktop-01@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="/img/how-to-play/swiper/sw-how-to-play-desktop-01.png"
            />
            <source
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-mob-01.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-mob-01@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/swiper/sw-how-to-play-mob-01.png"
              alt="Step 1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-desktop-02.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-desktop-02@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="/img/how-to-play/swiper/sw-how-to-play-desktop-02.png"
            />
            <source
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-mob-02.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-mob-02@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/swiper/sw-how-to-play-mob-02.png"
              alt="Step 2"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-desktop-03.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-desktop-03@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="/img/how-to-play/swiper/sw-how-to-play-desktop-03.png"
            />
            <source
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-mob-03.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-mob-03@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/swiper/sw-how-to-play-mob-03.png"
              alt="Step 3"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-desktop-04.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-desktop-04@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="/img/how-to-play/swiper/sw-how-to-play-desktop-04.png"
            />
            <source
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-mob-04.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-mob-04@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/swiper/sw-how-to-play-mob-04.png"
              alt="Step 4"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-desktop-05.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-desktop-05@2x.png 2x
              "
            />
            <source
              media="(min-width: 1440px)"
              srcset="/img/how-to-play/swiper/sw-how-to-play-desktop-05.png"
            />
            <source
              srcset="
                /img/how-to-play/swiper/sw-how-to-play-mob-05.png    1x,
                /img/how-to-play/swiper/sw-how-to-play-mob-05@2x.png 2x
              "
            />
            <img
              src="/img/how-to-play/swiper/sw-how-to-play-mob-05.png"
              alt="Step 5"
            />
          </picture>
        </div>
      </div>
      <div data-how-to-play-pagination class="swiper-pagination"></div>
    </div>

    <div class="how-to-play-info">
      <h3 data-how-to-play-title class="info-title title">Enter the Arena</h3>
      <p data-how-to-play-text class="info-text">
        Start each run in a confined space filled with incoming enemies.
      </p>
    </div>
  </div>
</section>
