<div class="mobile-menu" data-visible="close">
  <div class="container">
    <button class="mm-close-btn" type="button" data-menu-close>
      <svg class="btn-close-icon">
        <use href="/sprite.svg#close"></use>
      </svg>
    </button>
    <ul class="mm-list-navigation" data-menu-navigation>
      <li class="mm-item-navigation">
        <a href="#about" class="mm-item-nav-link">About</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#how-to-play" class="mm-item-nav-link">How to Play</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#features" class="mm-item-nav-link">Features</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#why-download" class="mm-item-nav-link">Why Download</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#gallery" class="mm-item-nav-link">Gallery</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#reviews" class="mm-item-nav-link">Reviews</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#faq" class="mm-item-nav-link">FAQ</a>
      </li>
      <li class="mm-item-navigation">
        <a href="#contact" class="mm-item-nav-link">Contact</a>
      </li>
    </ul>
  </div>
</div>
