<section id="reviews" class="reviews">
  <div class="container">
    <picture class="reviews-title-box">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="
          /img/reviews/title-reviews-mob.png    1x,
          /img/reviews/title-reviews-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/reviews/title-reviews-desktop.png    1x,
          /img/reviews/title-reviews-desktop@2x.png 2x
        "
      />
      <img
        src="/img/reviews/title-reviews-mob.png"
        srcset="/img/reviews/title-reviews-mob@2x.png"
        alt="The concrete letters are caked with zombie blood."
        class="reviews-title-img"
        loading="lazy"
      />
    </picture>
    <picture class="reviews-content-box">
      <source
        media="(max-width: 1439.98px)"
        type="image/png"
        srcset="
          /img/reviews/reviews-img-mob.png    1x,
          /img/reviews/reviews-img-mob@2x.png 2x
        "
      />
      <source
        media="(min-width: 1440px)"
        type="image/png"
        srcset="
          /img/reviews/reviews-img-desktop.png    1x,
          /img/reviews/reviews-img-desktop@2x.png 2x
        "
      />
      <img
        src="/img/reviews/reviews-img-mob.png"
        srcset="/img/reviews/reviews-img-mob@2x.png"
        alt="Against a post-apocalyptic backdrop of gloomy, mist-shrouded urban ruins, a group of six paramilitary characters stands with a diverse arsenal ranging from a sniper rifle to a rocket launcher, notably featuring an armed nun with a Doberman, a woman in a white lab coat, and a girl in a traditional red Chinese dress."
        class="reviews-content-img"
        loading="lazy"
      />
    </picture>

    <div class="reviews-swiper-outer">
      <div id="reviews-swiper" class="swiper reviews-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide reviews-swiper-slide">
            <div class="review-card">
              <div class="review-header">
                <h3 class="review-author">SurvivorX</h3>
                <div class="review-stars">
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                </div>
              </div>
              <p class="review-text">“Fast, intense, and really addictive.”</p>
            </div>
          </div>
          <div class="swiper-slide reviews-swiper-slide">
            <div class="review-card">
              <div class="review-header">
                <h3 class="review-author">Alex R.</h3>
                <div class="review-stars">
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                </div>
              </div>
              <p class="review-text">
                “Great gameplay loop, easy to get into.”
              </p>
            </div>
          </div>
          <div class="swiper-slide reviews-swiper-slide">
            <div class="review-card">
              <div class="review-header">
                <h3 class="review-author">ActionFan</h3>
                <div class="review-stars">
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                </div>
              </div>
              <p class="review-text">“Every run feels different.”</p>
            </div>
          </div>
          <div class="swiper-slide reviews-swiper-slide">
            <div class="review-card">
              <div class="review-header">
                <h3 class="review-author">Lena K.</h3>
                <div class="review-stars">
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                </div>
              </div>
              <p class="review-text">“Challenging but very fun.”</p>
            </div>
          </div>
          <div class="swiper-slide reviews-swiper-slide">
            <div class="review-card">
              <div class="review-header">
                <h3 class="review-author">BlastKing</h3>
                <div class="review-stars">
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                  <svg class="star-icon">
                    <use href="/sprite.svg#star-rating"></use>
                  </svg>
                </div>
              </div>
              <p class="review-text">“Perfect for quick action sessions.”</p>
            </div>
          </div>
        </div>
      </div>

      <div class="reviews-controls">
        <button type="button" class="reviews-prev" data-reviews-prev>
          <svg width="24" height="24">
            <use href="/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <div data-reviews-pagination class="reviews-pagination"></div>
        <button type="button" class="reviews-next" data-reviews-next>
          <svg width="24" height="24">
            <use href="/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
