<header class="secondary-header">
  <div class="container">
    <a href="./" class="logo-link">
      <picture>
        <source
          media="(max-width: 1439.98px)"
          type="image/png"
          srcset="/img/logo-mobile.png 1x, /img/logo-mobile@2x.png 2x"
        />
        <source
          media="(min-width: 1440px)"
          type="image/png"
          srcset="/img/logo-desktop.png 1x, /img/logo-desktop@2x.png 2x"
        />
        <img
          class="logo-img"
          src="/img/logo-mobile.png"
          alt="Logo King Blast survival war"
          width="70"
          height="70"
        />
      </picture>
    </a>
    <a href="./" class="back-link">
      <svg class="header-arrow-icon">
        <use href="/sprite.svg#arrow-back"></use>
      </svg>
      Main Page</a
    >
  </div>
</header>
