.main {
  /* max-width: 350px; */
  margin: 0 auto 30px;
  padding-top: 50px;

  @media only screen and (min-width: 1440px) {
    margin-bottom: 100px;
    padding-top: 100px;
  }
}
.main-title-secondary-pages {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.0625;
  letter-spacing: -0.03em;
  color: var(--black-color);
  margin-bottom: 32px;
}
.date-text {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.45;
  color: var(--black-color);
  margin-bottom: 16px;
}
.date {
  color: var(--black-color);
}
.paragraph-secondary-pages {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 8px;
  color: var(--black-color);
}
.name {
  font-weight: 700;
}
.subtitle-secondary-pages {
  font-family: var(--font-dm-sans);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.45;
  color: var(--black-color);
  margin-top: 32px;
  margin-bottom: 16px;
}
.list-secondary-pages {
  list-style-type: square;
}
.list-secondary-pages {
  list-style-type: decimal !important;
  display: block !important;
  padding-left: 24px;
  margin-bottom: 32px;

  font-size: 16px;
  line-height: 1.75;
  color: var(--black-color);
}
.list-secondary-pages li {
  display: list-item !important;
  /* list-style-type: decimal !important; */
  list-style-type: disc;
  margin-bottom: 12px;

  color: var(--black-color);
}
.list-secondary-pages li::marker {
  font-weight: 700;
  color: var(--black-color);
}
.list-secondary-pages li:last-child {
  margin-bottom: 0;
}
