.section-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  text-transform: uppercase;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  margin-bottom: 14px;
}

.section-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-old-standard);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.06;
  letter-spacing: -0.03em;
  color: var(--black-color);

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

.section-subtitle-span {
  font-family: var(--font-old-standard);
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33333;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--accent-color);

  @media (min-width: 1440px) {
    font-size: 48px;
    align-items: flex-start;
  }
}